# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.nox/
.pytest_cache/

# Logs
*.log

# MyPy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# Pylint
.pylint.d/

# Local environment

# PyTorch Models
*.pth

# PyTorch Data
notebooks/data/

MNIST_data/
F_MNIST_data/
Cat_Dog_data/
Cat_Dog_data.zip
CIFAR10/

**/6-identify_customer_segments/*.csv
**/6-identify_customer_segments/*.md
