venv/
.ipynb_checkpoints/
.env
finetune_gpt2/
ft-distilbert/
tmp_trainer/
qa_data.hf/
__pycache__/
stable-diffusion-webui/
stanford_cars/
stanford_cars_gan_b128/
stanford_cars.zip
stylegan3/
sam-hq/
segment_anything/
*.pkl
*.mp4
diffusion_output_long/
FashionMNIST/
sentiment_analysis/
sentiment_analysis_lora/
sentiment_analysis_lora_final/
venv-rea/
